* {
    margin: 0px;
    padding: 0px;

    flex:auto;
    margin: auto;
    left: 0px;
    right: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    height:10vh;
    width:90%;
    margin:auto;
    align-items: center;
    color: white;
}

.logo-container,.nav-links,.logo {
display: flex;
}

.logo-container {
    position: relative;
    margin: 0px 1500px 55px;
    flex:1;
    width:201px;
    margin-top:18px;
    margin-left:-110px;
    height: auto;
}

.logo-container:hover {
        transform: scale(0.9);
}

.nav-links {
    justify-content:space-around;
    list-style:none;

}

.nav-link{
    color: white;
    font-size:18px;
    text-decoration:none;
    justify-content: space-around;
    font-weight: 600;

}

.nav-link{
    justify-content: flex-end;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex:1;
}

.intro-text h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    padding: 0;
    position: absolute;
    top: 53%;
    width: 700px;
}

.intro-text p{
    font-size: 22px;
    color:white;
    align-items: center;
}

.paragraph{
    align-items: center;
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align:center;
    margin:205px 181px -220px 150px;
}

.cta-select{
    border: 2px solid #fe9000;
    background: transparent;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    bottom: 250px;
    left: -150px;
    background-color: #fe9000;
    padding: 0px 16px;
    border-style: solid;
    min-width:  215px;
    font-weight: 700;
    background-clip: padding-box;
    text-indent: 1.44px;
    letter-spacing: 1.44px;
    display: inline-block;
    border-radius: 3px;

}

.cta-add{
    background: #c36cbb;
    border: none;
    color:white;
    margin: 30px 0px 0px 30px;
}

.div-block-centered {
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
margin-top: 0px;
position: relative;
padding: 0px;
width: 700px;
width: 15%;
}

.violet-gradient{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 50;
    height: 100vh;
    width: 200vh;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translate(-80px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.paragraph {
    bottom:  5%;
    right: 125%;
    width: 125%;
    transform: translate(125%, 5%);
}


.white-section {
    text-align: center;
    color: black;
    font-size: 700;
    position: absolute;
    bottom: -10%;
    text-align: center;

}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 110vh;
    grid-template-areas:   
    "box1 box2"
    "box3 box3";
}


.gallery {
    display: grid;
    grid-template-columns:repeat(auto-fit, 750px);
    grid-template-rows:  1fr 1fr 1fr;
    height: 100vh;
    height: 410px;
    position: absolute;
    left:140px;
}

.gallery img {
    width: 30%;

}


.italic-text {
    position:absolute;
    width: 55%;
    top: 75%;
    right: 20px;
    font-size: 20px;
    color:black;
    text-align: center;
}
